@model SBSClientManagement.Models.ViewModel.DeleteSqlServerViewModel

@{
    ViewData["Title"] = "DeleteConfirmation";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-6">
            Instance Name
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.InstanceName)
        </dd>
        <dt class = "col-sm-6">
            Server Name
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ServerName)
        </dd>
        <dt class = "col-sm-6">
            Client Name
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="Id" hidden />
        <input type="submit" value="Delete" class="btn btn-danger form-control" />
    </form>
</div>
