@model SBSClientManagement.Models.ViewModel.EditSqlServerViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <form onsubmit="return validateForm()" id="newSqlServerForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span class="text-danger" id="error"></span>
            <input asp-for="Id" hidden />
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" id="username" required />
                <span asp-validation-for="Username" class="text-danger" id="usernameVal"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="password" required />
                <span asp-validation-for="Password" class="text-danger" id="passwordVal"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Instance Name</label>
                <input asp-for="InstanceName" class="form-control" id="instancename" required />
                <span asp-validation-for="InstanceName" class="text-danger" id="nameVal"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Client Name</label>
                <select asp-for="ClientId" class="form-control" required>
                    <option value="">Select Client</option>
                    @{
                        foreach (var client in Model.Clients)
                        {
                            <option value="@client.Id">@client.Name</option>
                        }

                    }
                    <option value="@Model.SelectedClient.Id">@Model.SelectedClient.Name</option>
                </select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Server Name</label>
                <select asp-for="ServerId" class="form-control" required>

                    <option value="@Model.SelectedServer.Id">@Model.SelectedServer.Name</option>
                </select>
                <span asp-validation-for="ServerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Update" class="btn btn-primary form-control" onclick="return validateForm()" id="btnSubmit" />
            </div>
        </form>
    </div>
</div>
<script src="~/js/pages/editsqlserver.js"></script>
