@model IEnumerable<SBSClientManagement.Models.ViewModel.ViewSqlServerViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">SqlServer List</h3>

        <a href="#" onclick="CreateSqlServerDetails()" class="btn btn-md btn-info float-right ml-3">Create New</a>
        <div class="card-tools pt-1">
            <div class="input-group input-group-md" style="width: 15rem;">
                <input type="text" name="searchString" id="searchString" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default" id="searchBtn"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th>
                            Instance Name
                        </th>
                        <th>
                            Server Name
                        </th>
                        <th>
                            Client Name
                        </th>
                        <th></th>
                    </tr>
                <tbody id="table">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InstanceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClientName)
                            </td>
                        <td>
                            <a href="#" onclick="EditSqlServerDetails(@item.Id)">Edit</a>
                            <a href="#" onclick="ViewSqlServerDetails(@item.Id)">Details</a>
                            <a href="#" onclick="DeleteSqlServerDetails(@item.Id)">Delete</a>
                        </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit SqlServer Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="editModalBody">


            </div>


        </div>

    </div>

</div>
<div class="modal fade" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create SqlServer</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="createModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="viewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">SqlServer Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="viewModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete SqlServer Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="deleteModalBody">


            </div>


        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#searchBtn').on('click', function () {
            search();
        });
        $('#searchString').on('keyup', function () {
            search();
        });
    });
    function search() {
        let searchStringValue = $('#searchString').val();
        $.ajax({
            type: 'GET',
            data: {searchString: searchStringValue },
            url: 'SqlServer/Search',
            success: function (result) {
                if (result.length > 0) {
                    var c;
                    for (var i = 0, l = result.length; i < l; i++) {
                    c += '<tr> <td> ' + result[i].username + '</td> <td>' + result[i].password + '</td> <td> ' + result[i].instanceName + '</td> <td>' + result[i].serverName + '</td> <td>' + result[i].clientName + '</td><td><a href="#" onclick="EditSqlServerDetails(' + result[i].id + ')"s>Edit</a>  <a href="#" onclick="ViewSqlServerDetails(' + result[i].id + ')">Details</a> <a href="#" onclick="DeleteSqlServerDetails(' + result[i].id + ')"> Delete </a></td></tr>';
                    }
                    $('#table').html(c);
                } 
            }
        });
    }
    function EditSqlServerDetails(vpnId) {

        var url = "/SqlServer/Edit?id=" + vpnId;

        $("#editModalBody").load(url, function () {
                    $("#editModal").modal("show");

        })

    }
    function CreateSqlServerDetails() {

        var url = "/SqlServer/Create";

        $("#createModalBody").load(url, function () {
                    $("#createModal").modal("show");

        })

    }

    function ViewSqlServerDetails(vpnId) {

        var url = "/SqlServer/Details?id=" + vpnId;

        $("#viewModalBody").load(url, function () {
                    $("#viewModal").modal("show");

        })

    }

    function DeleteSqlServerDetails(vpnId) {

        var url = "/SqlServer/DeleteConfirmation?id=" + vpnId;

        $("#deleteModalBody").load(url, function () {
                    $("#deleteModal").modal("show");

        })

    }
</script>