@model IEnumerable<SBSClientManagement.Models.ViewModel.ViewVpnViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_DashboardLayout.cshtml";
}

 
<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Vpn List</h3>

        <a href="#" onclick="CreateVpnDetails()" class="btn btn-md btn-info float-right ml-3">Create New</a>
        <div class="card-tools pt-1">
            <div class="input-group input-group-md" style="width: 15rem;">
                <input type="text" id="searchString" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default" id="searchBtn"><i class="fas fa-search"></i></button>
                </div>
            </div>

        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th>
                            Client Name
                        </th>
                        <th></th>
                    </tr>
                <tbody id="table">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="copy" data-clipboard-text="@item.Name">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="copy" data-clipboard-text="@item.Username">
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td class="copy" data-clipboard-text="@item.Password">
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td class="copy" data-clipboard-text="@item.ClientName">
                            @Html.DisplayFor(modelItem => item.ClientName)
                        </td>
                        <td>
                            <a href="#" onclick="EditVpnDetails(@item.Id)">Edit</a>
                            <a href="#" onclick="ViewVpnDetails(@item.Id)">Details</a>
                            <a href="#" onclick="DeleteVpnDetails(@item.Id)">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Vpn Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="editModalBody">


            </div>


        </div>

    </div>

</div>
<div class="modal fade" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create Vpn</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="createModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="viewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Vpn Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="viewModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Vpn Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="deleteModalBody">


            </div>


        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('#searchBtn').on('click', function () {
            search();
        });
        $('#searchString').on('keyup', function () {
            search();
        });
    });
    function search() {
        let searchStringValue = $('#searchString').val();
        $.ajax({
            type: 'GET',
            data: { searchString: searchStringValue },
            url: 'Vpn/Search',
            success: function (result) {
                if (result.length > 0) {
                    var c;
                    for (var i = 0, l = result.length; i < l; i++) {
                        c += '<tr> <td class="copy" data-clipboard-text="' + result[i].name + '"> ' + result[i].name + '</td> <td class="copy" data-clipboard-text="' + result[i].username + '"> ' + result[i].username + '</td> <td class="copy" data-clipboard-text="' + result[i].password + '"> ' + result[i].password + '<td class="copy" data-clipboard-text="' + result[i].clientName + '"> ' + result[i].clientName + '</td > <td> <a href="#" onclick="EditVpnDetails(' + result[i].id + ')"s>Edit</a>  <a href="#" onclick="ViewVpnDetails(' + result[i].id + ')">Details</a> <a href="#" onclick="DeleteVpnDetails(' + result[i].id + ')"> Delete </a></td></tr>'
                    }
                    $('#table').html(c);
                }
            }
        });
    }
    function EditVpnDetails(vpnId) {

        var url = "/Vpn/Edit?id=" + vpnId;

        $("#editModalBody").load(url, function () {
            $("#editModal").modal("show");

        })

    }
    function CreateVpnDetails() {

        var url = "/Vpn/Create";

        $("#createModalBody").load(url, function () {
            $("#createModal").modal("show");

        })

    }

    function ViewVpnDetails(vpnId) {

        var url = "/Vpn/Details?id=" + vpnId;

        $("#viewModalBody").load(url, function () {
            $("#viewModal").modal("show");

        })

    }

    function DeleteVpnDetails(vpnId) {

        var url = "/Vpn/DeleteConfirmation?id=" + vpnId;

        $("#deleteModalBody").load(url, function () {
            $("#deleteModal").modal("show");

        })

    }
</script>