@model IEnumerable<SBSClientManagement.Models.ViewModel.ViewServerViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_DashboardLayout.cshtml";

}

<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Server List</h3>

            <a href="#" onclick="CreateServerDetails()" class="btn btn-md btn-info float-right ml-3">Create New</a>
            <div class="card-tools pt-1">
                <div class="input-group input-group-md" style="width: 15rem;">
                    <input type="text" id="searchString" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default" id="searchBtn"><i class="fas fa-search"></i></button>
                    </div>
                </div>

            </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories)
                        </th>
                        <th>
                            Client Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table">
                    @foreach (var item in Model)
                    {
                        string cat = item.Categories.ToString() == "Live" ? "badge-success"
                                    : item.Categories.ToString() == "Test" ? "badge-warning"
                                    : item.Categories.ToString() == "DR" ? "badge-danger" : "badge-info";
                        <tr>
                            <td class="copy" data-clipboard-text="@item.Name">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="copy" data-clipboard-text="@item.Username">
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td class="copy" data-clipboard-text="@item.Password">
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                <span class="copy badge @cat" data-clipboard-text="@item.Categories">
                                    @Html.DisplayFor(modelItem => item.Categories)
                                </span>
                            </td>
                            <td class="copy" data-clipboard-text="@item.ClientId">
                                @Html.DisplayFor(modelItem => item.ClientName)
                            </td>
                            <td>
                                <a href="#" onclick="EditServerDetails(@item.Id)">Edit</a>
                                <a href="#" onclick="ViewServerDetails(@item.Id)">Details</a>
                                <a href="#" onclick="DeleteServerDetails(@item.Id)">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Server Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="editModalBody">


            </div>


        </div>

    </div>

</div>
<div class="modal fade" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create Server</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="createModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="viewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Server Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="viewModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Server Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="deleteModalBody">


            </div>


        </div>

    </div>

</div>
<script>
    function EditServerDetails(serverId) {

        var url = "/Server/Edit?id=" + serverId;

        $("#editModalBody").load(url, function () {
            $("#editModal").modal("show");

        })

    }
    function CreateServerDetails() {

        var url = "/Server/Create";

        $("#createModalBody").load(url, function () {
            $("#createModal").modal("show");

        })

    }

    function ViewServerDetails(serverId) {

        var url = "/Server/Details?id=" + serverId;

        $("#viewModalBody").load(url, function () {
            $("#viewModal").modal("show");

        })

    }

    function DeleteServerDetails(serverId) {

        var url = "/Server/DeleteConfirmation?id=" + serverId;

        $("#deleteModalBody").load(url, function () {
            $("#deleteModal").modal("show");

        })
    }

    $(document).ready(function () {
        $('#searchBtn').on('click', function () {
            search();
        });
        $('#searchString').on('keyup', function () {
            search();
        });
    });
    function search() {
        let searchStringValue = $('#searchString').val();
        $.ajax({
            type: 'GET',
            data: { searchString: searchStringValue },
            url: 'Server/Search',
            success: function (result) {
                if (result.length > 0) {
                    var c;
                    for (var i = 0, l = result.length; i < l; i++) {
                        let cat = result[i].categories == '1' ? "Live"
                            : result[i].categories == '0' ? "Test"
                                : result[i].categories == '2' ? "DR" : "Live";

                        let badge = cat == "Live" ? "badge-success"
                            : cat == "Test" ? "badge-warning"
                                : cat == "DR" ? "badge-danger" : "badge-info";

                        c += '<tr>  <td class="copy" data-clipboard-text="' + result[i].name + '"> ' + result[i].name + '</td>' + '<td class="copy" data-clipboard-text="' + result[i].username + '"> ' + result[i].username + '</td>' + '<td class="copy" data-clipboard-text="' + result[i].password + '"> ' + result[i].password + '</td>' + '<td> <span  class="copy badge ' + badge + '" data-clipboard-text="' + cat + '">' + cat + '</span> </td>' + '<td class="copy" data-clipboard-text="' + result[i].clientName + '"> ' + result[i].clientName + '</td>' + ' <td> <a href="#" onclick="EditServerDetails(' + result[i].id + ')"s>Edit</a>  <a href="#" onclick="ViewServerDetails(' + result[i].id + ')">Details</a> <a href="#" onclick="DeleteServerDetails(' + result[i].id + ')"> Delete </a> </td></tr>'
                    }
                    $('#table').html(c);
                }
            }
        });
    }
</script>