@model IEnumerable<SBSClientManagement.Models.ViewModel.ViewClientViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    @@media only screen and (max-width: 420px) {
      .input-search {
        margin-top: .4rem !important;
      }
}

</style>
 
<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title pt-1">Client List</h3>
        <a href="#" onclick="CreateClientDetails()" class="btn btn-md btn-info float-right ml-3">Create New</a>

        <div class="card-tools pt-1">
            <div class="input-group input-group-md input-search" style="width: 18rem;">
                <input type="text" id="searchString" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default" id="searchBtn"><i class="fas fa-search"></i></button>
                </div>
            </div>

        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td class="copy" data-clipboard-text="@item.Name" >@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>
                                <a href="#" onclick="EditClientDetails(@item.Id)">Edit</a>
                                <a href="#" onclick="ViewClientDetails(@item.Id)">Details</a>
                                <a href="#" onclick="DeleteClientDetails(@item.Id)">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
</div>
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Client Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="editModalBody">


            </div>


        </div>

    </div>

</div>
<div class="modal fade" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create Client</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="createModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="viewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Client Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="viewModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Client Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="deleteModalBody">


            </div>


        </div>

    </div>

</div>
<script type="text/javascript">
    
    function EditClientDetails(clientId) {

        var url = "/Client/Edit?id=" + clientId;

        $("#editModalBody").load(url, function () {
            $("#editModal").modal("show");

        })

    }
    function CreateClientDetails() {

        var url = "/Client/Create";

        $("#createModalBody").load(url, function () {
            $("#createModal").modal("show");

        })

    }

    function ViewClientDetails(clientId) {

        var url = "/Client/Details?id=" + clientId;

        $("#viewModalBody").load(url, function () {
            $("#viewModal").modal("show");

        })

    }

    function DeleteClientDetails(clientId) {

        var url = "/Client/DeleteConfirmation?id=" + clientId;

        $("#deleteModalBody").load(url, function () {
            $("#deleteModal").modal("show");

        })

    }
    $(document).ready(function () {
        $('#searchBtn').on('click', function () {
            search();
        });
        $('#searchString').on('keyup', function () {
            search();
        });
    });
    function search() {
        let searchStringValue = $('#searchString').val();
        $.ajax({
            type: 'GET',
            data: { searchString: searchStringValue },
            url: 'Client/Search',
            success: function (result) {
                if (result.length > 0) {
                    var c;
                    for (var i = 0, l = result.length; i < l; i++) {
                        c += '<tr> <td> ' + result[i].id + '</td> <td class="copy" data-clipboard-text="' + result[i].name + '"> ' + result[i].name + '</td> <td> <a href="#" onclick="EditClientDetails(' + result[i].id + ')"s>Edit</a>  <a href="#" onclick="ViewClientDetails(' + result[i].id + ')">Details</a> <a href="#" onclick="DeleteClientDetails(' + result[i].id + ')"> Delete </a>'
                    }
                    $('#table').html(c);
                }
            }
        });
    }
</script>